{{- if .Values.agent }}

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "dakr.fullname" . }}-agent
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "dakr.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "dakr.fullname" . }}-agent:installer
  labels:
    {{- include "dakr.labels" . | nindent 4 }}
rules:
- apiGroups:
  - node.k8s.io
  resources:
  - runtimeclasses
  verbs:
  - create
  - delete
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "dakr.fullname" . }}-agent:node
  labels:
    {{- include "dakr.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  - statefulsets
  - daemonsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dakr.devzero.io
  resources:
  - checkpointrestores
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - dakr.devzero.io
  resources:
  - checkpointrestores/status
  verbs:
  - get
  - update
  - patch
{{- if .Capabilities.APIVersions.Has "kubeflow.org/v1/Notebook" }}
- apiGroups:
  - kubeflow.org
  resources:
  - notebooks
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "dakr.fullname" . }}-agent:installer
  labels:
    {{- include "dakr.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "dakr.fullname" . }}-agent:installer
subjects:
- kind: ServiceAccount
  name: {{ include "dakr.fullname" . }}-agent
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "dakr.fullname" . }}-agent:node
  labels:
    {{- include "dakr.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "dakr.fullname" . }}-agent:node
subjects:
- kind: ServiceAccount
  name: {{ include "dakr.fullname" . }}-agent
  namespace: {{ .Release.Namespace }}
{{- end }}
