{{- if and .Values.runtimeConfig.enabled .Values.runtimeConfig.registryMirrors.enabled }}
{{- if not .Values.runtimeConfig.registryMirrors.credentialsSecret.existingSecret }}
{{- /* Build credentials map from enabled registries */ -}}
{{- $credentials := dict -}}
{{- range .Values.runtimeConfig.registryMirrors.registries -}}
  {{- if and .enabled .credentials (or .credentials.username .credentials.password) -}}
    {{- /* Extract hostname from upstream URL */ -}}
    {{- $upstream := .upstream | trimPrefix "https://" | trimPrefix "http://" -}}
    {{- $_ := set $credentials $upstream (dict "username" (.credentials.username | default "") "password" (.credentials.password | default "")) -}}
  {{- end -}}
{{- end -}}
{{- /* Only create secret if there are credentials */ -}}
{{- if $credentials }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dakr.fullname" . }}-zot-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "dakr.labels" . | nindent 4 }}
    app.kubernetes.io/component: zot-registry
type: Opaque
data:
  credentials.json: {{ $credentials | toJson | b64enc }}
{{- end }}
{{- end }}
{{- end }}
